<html>
<head>
  <title>Traget</title>
</head>
<body>
  <% if (typeof user != 'undefined') { %>
    <!-- if user not logged in show login and register -->
    <h5 align="right">
    <a href="/proposer">proposer</a>
    <a href="/profile"><%= user.nom %></a>
    <a href="/logoff">deconnection</a>
  </h5>
  <% }else { %>
    <!-- if user logged in show his name and logoff button -->
    <h5 align="right">
      <a href="/proposer">proposer</a>
      <a href="/register">register</a>
      <a href="/login">login</a>
    </h5>
    <% } if (allant != '') { %>
  <% allant.forEach(function(usr) { %>
    <p>
      <b><a href="/detail/<%= usr._id %>"><%= usr.nom %> <%= usr.prenom %></a></b>
      <br>
      part de <%= usr.depart %> vers <%= usr.dest %> le <i><%= usr.allezDate %></i>
      date de retour: <i> <%= usr.retourDate %> </i><br>
      email: <%= usr.email %> <br>
      profil fb: <%= usr.facebook %> <br>
      numero telephone : <%= usr.num %>
    </p>
    <% }); %>
    <hr>
    <% } if (etape != '') { %>
    <% etape.forEach(function(usr) { %>
      <b><a href="/detail/<%= usr._id %>"><%= usr.nom %> <%= usr.prenom %></a></b>
      <br>
      part de <%= usr.depart %> vers <%= usr.dest %> le <i><%= usr.allezDate %></i> et passe par <b><%= usr.etape%></b>
      date de retour: <i> <%= usr.retourDate %> </i><br>
      email: <%= usr.email %> <br>
      profil fb: <%= usr.facebook %> <br>
      numero telephone : <%= usr.num %>
    <% }) %>
    <hr>
    <% } if (enretour != '') { %>
    <% enretour.forEach(function(usr){ %>
    <p>
      <b><a href="/detail/<%= usr._id %>"><%= usr.nom %> <%= usr.prenom %></a></b>
      <br>
      rentre de <%= usr.dest %> vers <%= usr.dest %> le <i><%= usr.retourDate %></i><br>
      email: <%= usr.email %> <br>
      profil fb: <%= usr.facebook %> <br>
      numero telephone : <%= usr.num %>
    </p>
    <% }); %>
    <% } %>
    <% if (allant == '' && enretour == '' && etape == '') { %>
      <h1>Pas de resultat</h1>
      <% } %>
</body>
</html>
