<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>mes propositions</title>
  </head>
  <body>
    <h1>header and navbar here</h1>
    <hr>
    <% if (typeof propo != 'undefined') { %>
      <% forEach.propo(function(propo) { %>
        <p>
          vous avez proposé un traget de <%= propo.depart %> vers <%= propo.dest %>
          le <%= propo.allezDate %> à <%= propo.allezHeure %>
          nombre de places: <%= propo.places %>
        </p>
      <% }) %>
    <% } %>
  </body>
</html>
