<html>
<head>
  <title>success</title>
</head>
<body>
  <h1>Success! merci pour votre confiance</h1>
nom: <%= elmnt.nom %><br>
prenom: <%= elmnt.prenom %><br>
depart: <%= elmnt.depart %><br>
etape:<%= elmnt.etape %><br>
dest: <%= elmnt.dest %><br>
allezDate: <%= elmnt.allezDate %><br>
retourDate: <%= elmnt.retourDate %><br>
places: <%= elmnt.places %><br>
email: <%= elmnt.email %><br>
num: <%= elmnt.num %><br>
facebook: <%= elmnt.facebook %><br>
<hr>
<a href="/">revenir a la page d'acceuil</a>
</body>
</html>
